export OS_AUTH_URL=IOS
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=REWRITE
export OS_PROJECT_DOMAIN_NAME=LINUX
export OS_USERNAME=Tricia
export OS_USER_DOMAIN_NAME=BNYMELLON
export OS_PASSWORD=ksfjsdkfs;d
